@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet");

@font-face {
	font-family: Ubuntu; /* указываем название шрифта */
	src: url('../fonts/Ubuntu.ttf'); /* путь к шрифту из папки css. Шрифты складываем в папку fonts */
}

.rubik-font {
    font-family: 'Rubik', sans-serif;
}

.ubuntu-font {
    font-family: "Ubuntu", sans-serif;
}