
.features {
  background-color: #F4F4F4;
  text-align: center;

  &__title {
    padding-top: 34px;
    padding-bottom: 34px;
    color: #8D81AC;
    font-size: 23px;
    @include font-montserrat-bold;
    @include tablet {
      font-size: 31px;
    }
    @include desktop {
      display: none;
    }
  }

  &__title:before {
    content: '<';
  }

  &__title:after {
    content: '>';
  }

  &__title2 {
    display: none;
    @include desktop {
      display: block;
      padding-bottom: 20px;
      text-align: left;
      color: #8D81AC;
      font-size: 35px;
      @include font-montserrat-bold;
      //vertical-align: top;
    }
  }

  &__title2:before {
    content: '<';
  }

  &__title2:after {
    content: '>';
  }

  &__second-block {
    text-align: right;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      display: inline-block;
      width: 50%;
    }
  }

  &__img-box {
    width: 100%;
    display: inline-block;
    text-align: right;
    overflow:hidden;
    @include tablet {
      text-align: right;
      display: inline-block;
      width: 97%;
    }
    @include desktop {
      position: relative;
      top: 25px;
    }
  }

}

.features-list {
  @include flex-wrap;
  padding: 0 30px;
  @include desktop {
    display: inline-block;
    width: 42%;
    padding-bottom: 40px;
    padding-top: 84px;
  }
}

.feature-block {
  @include tablet {
    text-align: left;
  }

  &__img-box {
    display: inline-block;
    width: 140px;
  }

  &__desc {
    @include tablet {
      display: inline-block;
      width: 65%;
    }
  }

  &__title {
    padding-top: 25px;
    font-size: 12px;
    font-family: $font-montserrat;
    color: #323232;
    @include tablet {
      padding-top: 0;
    }
  }

  &__text {
    padding-top: 16px;
    padding-bottom: 37px;
    font-size: 10px;
    font-family: $font-lato;
    line-height: 1.5;
    color: #848E97;
  }

  &__img {
    @include tablet {
      float: left;
      margin-right: 25px;
    }
  }
}


