
.fork-pricing {
  //background: url("/src/img/price-bg.png") no-repeat;
  background: url("/dist/img/price-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  @include clear;

  &__title {
    @include font-montserrat-bold;
    display: inline-block;
    line-height: 1.5;
    width: 257px;
    font-size: 21px;
    color: $text-white;
    padding-top: 160px;
    @include tablet {
      font-size: 31px;
      width: 100%;
    }
    @include desktop {
      font-size: 35px;
    }
  }

  &__products-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 70px;
    }
    @include tablet {
      padding-top: 70px;
      padding-bottom: 100px;
    }
  }
}

.product-card {
  margin-top: 14px;
  width: 257px;
  max-width: 257px;
  height: 457px;
  background-color: rgba(95, 81, 97, 0.5);
  color: $text-white;
  font-family: $font-montserrat;
  text-transform: uppercase;
  @include tablet {
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
  }
  @media screen and (min-width: 690px) {
    width: 480px;
    margin-right: 30px;
    margin-left: 30px;
  }
  @include desktop {
    width: 220px;
    margin-right: 7px;
    margin-left: 7px;
  }


  &__title {
    padding-top: 46px;
    padding-bottom: 34px;
    background-color: rgba(104, 91, 106, 0.3);
    font-size: 18px;

    &--active {
      padding-top: 51px;
      padding-bottom: 43px;
      background-color: rgba(57, 45, 61, 0.5);
    }
  }

  &__price {
    padding-top: 32px;
    @include font-montserrat-bold;
    font-size: 48px;

    &--value {
      font-weight: normal;
    }

    &--active {
      font-size: 66px;
    }
  }

  &__price-period {
    font-size: 11px;
    padding-top: 24px;
    color: #827784;
    text-transform: uppercase;
  }

  &__divider {
    display: inline-block;
    margin-top: 39px;
    margin-bottom: 31px;
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
  }

  &__text {
    height: 48px;
    font-size: 12px;
    line-height: 2;
    text-transform: none;
  }

  &__btn {
    margin-top: 40px;
    width: 160px;
    padding: 16px 0;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-white;
    font-weight: normal;
    background-color: #776B79;
    border: 0 solid #776B79;
    border-radius: 21px;

    &--active {
      margin-top: 80px;
    }
  }

  &:last-child {
      margin-bottom: 93px;
      @include tablet {
        margin-bottom: 0;
      }
      @include desktop {
        margin-bottom: 0;
      }
    }

  &-active {
    width: 299px;
    max-width: 299px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.1);
    @include tablet {
      width: 230px;
    }
    @media screen and (min-width: 690px) {
      width: 500px;
    }
    @include desktop {
      width: 270px;
    }
  }
}

.product-card__btn:hover {
  @include btn-hover;
}

