body {
    background: url(../img/main-bg.png) no-repeat center center fixed;
    background-size: cover;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.main {
    text-align: center;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    padding-top: 49px;
    padding-bottom: 20px;
}

.logo-box {
    float: left;
    position: relative;
}

.logo-orange {
    position: absolute;
    left: 0;
    opacity: 0;
}

.logo:hover .logo-orange {
    opacity: 1;
    transition: 0.3s;
}

.logo {
    float: left;
    text-decoration: none;
    color: #fff;
}

.logo:hover {
    color: #F26522;
    transition: 0.3s;
}

.header-title {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.header-title-big {
    display: inline-block;
    font-size: 29px;
    margin-left: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.header-contact-info {
    float: right;
    text-align: right;
    margin-top: 8px;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}

/*CONTENT*/

.tour-list {
    padding-top: 24px;
}

.tour-item {
    width: 310px;
    float: left;
    text-decoration: none;
    color: #fff;
    margin-right: 65px;
    margin-bottom: 55px;
    position: relative;
}

.tour-item:nth-child(3n){
    margin-right: 0;
    float: right;
}

.tour-item:hover {
    color: #F26522;
    transition: 0.3s;
}

.tour-image {
    padding: 2px 2px;
    background: linear-gradient(to bottom, white, black);
    box-shadow: 0 0 20px black;
}

.tour-title {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 20px;
}

.tour-details {
    width: 276px;
    background-color: #F26522;
    padding: 12px 16px;
    margin-left: 2px;
    position: absolute;
    bottom: 42px;
    opacity: 0;
}

.tour-item:hover .tour-details {
    opacity: 1;
    color: #fff;
    transition: 0.3s;
}

.price-block {
    float: left;
}

.price-desc {
    font-size: 10px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.price {
    margin-top: 6px;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.view-details {
    float: right;
    margin-top: 20px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.view-details::after {
    content: '\003E';
    margin-left: 23px;
}

/*FOOTER*/

.footer-copyright {
    padding-bottom: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}