    html, body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 1280px;
        margin: 0 auto;
    }

    .header-menu {
        padding-left: 332px;
        padding-top: 32px;
        padding-bottom: 35px;
        /*text-align: center;*/
    }

    .header-menu-link {
        margin-right: 70px;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        color: #16a085;
        letter-spacing: 3px;
    }

    .main-image {
        text-align: center;
        display: inline-block;
    }

    .main-content {
        background-color: #f5f6f7;
    }

    .main-content-title {
        margin-top: 56px;
        margin-bottom: 34px;
        text-transform: uppercase;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .main-content-text {
        margin-left: 110px;
        margin-right: 110px;
        font-size: 16px;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: 2px;
    }

    .main-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 45px;
        margin-left: 527px;
        margin-bottom: 94px;
        background-color: #16a085;
        border-radius: 4px;
        letter-spacing: 2px;
        color: white;
    }

    .footer-copyright {
        padding-top: 46px;
        padding-bottom: 46px;
    }

    .copyright {
        text-align: right;
        margin-right: 104px;
        font-size: 16px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }