.bg-black {
    background-color: #000;
}

.bg-blue {
    background-color: #0D7FBE;
}

.bg-yellow {
    background-color: #FAE317;
}

.abstract-picture {
    width: 614px;
}

.abstract-table-cell {
    height: 63px;
    border: 6px solid #3E3E3E;
}

