body {
    background: url(../img/main-bg.png) no-repeat center center fixed;
    background-size: cover;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.link-green {
    text-decoration: none;
    color: #3cb878;
}

.link-green:hover {
    border-bottom: 1px solid #3cb878;
    transition: 0.3s;
}

/*HEADER*/

.header {
    height: 56px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-title {
    float: left;
    padding: 18px 0;
    margin-left: 81px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.header-title:hover {
    color: #3cb878;
    transition: 0.3s;
}

.header-links {
    padding: 17px 0;
    margin-right: 75px;
    float: right;
}

.icon {
    width: 19px;
    height: 19px;
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    margin-right: 25px;
}

.icon_calendar {
    width: 19px;
    height: 19px;
    background-position: -102px -5px;
}

.icon_calendar:hover {
    background-position: -5px -5px;
}

.icon_forum {
    width: 28px;
    height: 20px;
    background-position: -131px -5px;
}

.icon_forum:hover {
    background-position: -34px -5px;
}

.icon_journey {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}

.icon_journey:hover {
    background-position: -72px -5px;
}

.header-sign-links {
    margin-left: 25px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*SIGN UP BLOCK*/

.log-in-block {
    width: 444px;
    background-color: #fff;
    border: 0 solid #fff;
    border-radius: 5px;
    margin: 65px auto;
    padding: 30px 0;
}

.log-in-block:before {
    content: url("../img/green-square.png");
    position: absolute;
}

.container {
    width: 322px;
    margin: 0 auto;
    text-align: center;
}

.sign-up{
    float: left;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.log-in {
    float: right;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn {
    width: 157px;
    padding: 11px 0 11px 0;
    margin: 15px 0;
    text-decoration: none;
    color: #ffffff;
    border: 0 solid;
    border-radius: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.fab {
    width: 47px;
}

.btn-name {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 109px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-facebook {
    background-color: #305db8;
    float: left;
}

.btn-facebook:hover {
    background-color: #264b96;
    transition: 0.3s;
}

.btn-google {
    background-color: #df4a32;
    float: right;
}

.btn-google:hover {
    background-color: #c3412c;
    transition: 0.3s;
}

.hr {
    display: inline-block;
    margin: 24px 0 25px 0;
    border: 0;
    background-color: #bebebe;
    width: 135px;
    height: 1px;
}
.hr-left {
    float: left;
}

.hr-right {
    float: right;
}

.divider {
    display: inline-block;
    padding: 18px 0;
    color: #848484;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.input-field {
    width: 286px;
    padding: 17px;
    margin-bottom: 9px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #bebebe;
    border: 1px solid;
    border-radius: 3px;
    outline: none;
}

.input-field:focus {
    box-shadow: 0 5px 10px #bebebe;
    border-color: #bebebe;
    color: #000;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-text {
    margin-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

.checkbox + label {
    position: relative;
    float: left;
    padding: 0 0 0 30px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
}

.checkbox:checked + label:before {
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
}

.btn-create-account {
    display: inline-block;
    width: 292px;
    padding: 15px;
    margin: 25px 0 15px 0;
    text-decoration: none;
    color: #ffffff;
    border: 0 solid;
    border-radius: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #3cb878;
}