
/* COMMON STYLE */
.container {
    margin: 0 auto;
    width: 1170px;

}

.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* HEADER */
.header {
    padding: 28px 0;
}

.navbar {
    background-color: #eeeeee;
    padding: 23px 0;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav-item {
    display: inline-block;
    margin-right: 30px;
}

.navbar-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: #4e4e4e;
    transition: 0.4s;
}

.navbar-nav-link.active {
    color: #7eb8b8;
}

.navbar-nav-link:hover {
    color: #7eb8b8;
}

/* ABOUT US */

.about-us {
    padding: 40px 0;
}

.about-us-main-img {
    text-align: center;
    margin-bottom: 70px;
}

.about-us-title {
    font-size: 35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 27px;
}

.about-us-text {
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* REVIEWS */

.reviews {
    background-image: url("../img/review-bg.png");
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.review-slide-title {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #eaeaea;
    margin-bottom: 34px;
}

.review-slide-text {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #eaeaea;
    margin-bottom: 27px;
    line-height: 1.5;
}

.review-author {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #7eb8b8;
    text-transform: uppercase;
}

/* OUR RECENT POST */

.recents-posts {
    padding: 80px 0;
}

.recents-posts-title {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 25px;
}

.recents-post {
    display: inline-block;
    width: 50%;

}

.recent-post-img {
    display: inline-block;
    width: 160px;
}