    .header {
        background-image: url("header-bg.png");
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 122px;
        padding-bottom: 253px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-title {
        text-align: center;

    }