.container {
    width: 1170px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

.section-title {
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}

.section-desc {
    font-size: 17px;
    color: #4d4943;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 52px;
}

.section-desc::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 45px auto 0;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-bottom: 45px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #F1AD1D;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: 1px solid #F1AD1D;
    transition: 0.4s;
}

.btn:hover{
    background: #ffffff;
    color: #F1AD1D;
    transition: 0.4s;
}

.text-colored {
    color: #f1ad1d;
}

/*HEADER*/

.header {
    background-image: url(../image/header_background.png);
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
    font-weight: bold;
}

.header-subtitle {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 28px;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.header-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    padding: 44px 30px;
}

/*ABOUT-US*/

.about-us {
    padding-top: 72px;
    padding-bottom: 25px;
}

/*NAVBAR*/

.navbar {
    padding: 25px 0;
    position: fixed;
    top: 20px;
}
.navbar-logo{
    float:left;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-nav{
    float:right;
}

.navbar-nav-item{
    display: inline-block;
    margin-right: 76px;
}
.navbar-nav-item:last-child{
    margin-right: 0;
}
.navbar-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.navbar-nav-link::after{
    display: inline-block;
    content: '';
    background-image: url("../image/top-menu-arrow.png");
    width: 10px;
    height: 5px;
    opacity: 0;
}
.navbar-nav-link:hover::after{
    opacity: 1;
}


.navbar-nav-link:hover{
    color: #F2B636;
}
.navbar-nav-link.active{
    color:#F2B636 ;
}

/*OUR-FEATURES*/

.our-features{
    padding: 60px 0;
}

.our-features-list{
    float:left;
    width: 555px;
}

.our-feature-caption{
    float:left;
    position: relative;
}
.our-feature-caption:nth-child(odd){
    margin-right: 15px;
}

.our-feature-description{
    float: right;
    width: 570px;
}

.our-feature-name{
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    padding: 12px;
    width: 117px;
    border: 1px solid #333333;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.our-feature-name:hover{
    background-color: #ffffff;
    color: #333333;
}

.our-feature-title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.our-feature-text{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 27px;
}
/*OUR-TEAM*/
.our-team {
    padding: 114px 103px;
}
.our-team-item {
    float: left;
    position: relative;
    width: 193px;
    box-sizing: border-box;
    margin-right: 2px;
}
.our-team-name {
    background-color: #333333;
    padding: 12px 39px 12px 12px;
    color: #ffffff;
    position: absolute;
    bottom: 13px;
    left: 13px;
    font-size: 14px;
    font-family:'Lato', sans-serif;
}

/*SUBSCRIBE-SECTION*/

.subscribe {
    padding: 67px 0 45px 0;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-email-field {
    width: 600px;
    padding: 13px 16px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #747474;
    outline: none;
}

.subscribe-email-field:focus {
    border: 1px solid #F1AD1D;
}

.subscribe-btn {
    background-color: #F1AD1D;
    color: #fff;
    padding: 13px 24px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #F1AD1D;

}