.container {
    width: 1160px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-colored {
    color: #18cfab;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*HEADER*/

.header {
    background-image: url("../img/header-bg.png");
    background-size: cover;
    text-align: center;
}

.topnav {
    display: flex;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.2);
}

.topnav-container {
    display: flex;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
}


.header-logo {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.logo-box {
    background: url("../img/logo-bg.png") no-repeat;
    width: 58px;
    height: 67px;
}

.logo {
    display: block;
    margin-top: 12px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-title {
    margin-left: 8px;
    font-size: 35px;
    align-self: center;
}

.logo-title-bold-text {
    font-weight: bold;
}

.navbar {
    align-self: center;
}

.navbar-nav {
    display: flex;
    width: 644px;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav-link:hover {
    color: #18cfab;
}

.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #b8b8b8;
}

.search {
    display: inline-block;
}

.header-subtitle {
    padding-top: 246px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.header-title {
    padding-top: 45px;
    font-size: 69px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.header-title-description {
    padding-top:36px;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #b8b8b8;
}

.btn {
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 142px 14px 244px 14px;
    width: 166px;
    border: 0 solid;
    border-radius: 5px;
    box-shadow: 0 -5px 0 #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn-explore {
    background-color: #18cfab;
}

.btn-purchase {
    background-color: #00cbf6;
}

/*OUR ADVANTAGES*/

.our-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.advantage-box {
    height: 367px;
}

.advantage-box:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.advantage-box:nth-child(even) {
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.advantage-box-img {
    height: 97px;
    line-height: 97px;
    margin-top: 88px;
    margin-bottom: 48px;
}

.advantage-box-text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*OUR SERVICES*/

.our-services {
    text-align: center;
}

.section-title {
    padding-top: 82px;
    padding-bottom: 37px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
}

.divider{
    box-shadow: 12px 3px 0 #18cfab ;
}

.services-menu {
    padding-top: 70px;
    display: flex;
}

.services-menu-item {
    flex: 1;
}

.services-menu-link{
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

.our-service-desc {
    padding-top: 24px;
}

.our-service-img-box {
    float: left;
    width: 193px;
}

.our-service-img {
    box-sizing: border-box;
}

.our-service-text {
    float: right;
    display: inline-block;
    width: 946px;
    text-align: justify;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;

}

/*OUR-WORK*/

.our-work {
    text-align: center;
    background-color: #F8FCFE;
}

.our-work-tabs {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    /*width: 610px;*/
}

.our-work-tab-item {
    /*flex: 1;*/
}

.our-work-tab-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

