.container {
    width: 1170px;
    margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

.section-title {
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}

.section-desc {
    font-size: 17px;
    color: #4d4943;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 52px;
}

.section-desc::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 45px auto 0;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-bottom: 45px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #F1AD1D;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: 1px solid #F1AD1D;
    transition: 0.4s;
}

.btn:hover{
    background: #ffffff;
    color: #F1AD1D;
    transition: 0.4s;
}

.text-colored {
    color: #f1ad1d;
}

/*HEADER*/

.header {
    background-image: url(../image/header_background.png);
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
    font-weight: bold;
}

.header-subtitle {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 28px;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.header-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    padding: 44px 30px;
}

/*ABOUT-US*/

.about-us {
    padding-top: 72px;
    padding-bottom: 25px;
}

/*NAVBAR*/

.navbar {
    padding: 25px 0;
    top: 20px;
}
.navbar-logo{
    float:left;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-nav{
    float:right;
}

.navbar-nav-item{
    display: inline-block;
    margin-right: 76px;
}
.navbar-nav-item:last-child{
    margin-right: 0;
}
.navbar-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.navbar-nav-link::after{
    display: inline-block;
    content: '';
    background-image: url("../image/top-menu-arrow.png");
    width: 10px;
    height: 5px;
    opacity: 0;
}
.navbar-nav-link:hover::after{
    opacity: 1;
}


.navbar-nav-link:hover{
    color: #F2B636;
}
.navbar-nav-link.active{
    color:#F2B636 ;
}

/*OUR-FEATURES*/

.our-features{
    padding: 60px 0;
}

.our-features-list{
    float:left;
    width: 555px;
}

.our-feature-caption{
    float:left;
    position: relative;
}

.our-feature-caption.hover .our-feature-name{
    animation: our-feature-name-animation 5s;
    opacity: 1;
}

.our-feature-caption:nth-child(odd){
    margin-right: 15px;
}

.our-feature-description{
    float: right;
    width: 570px;
}

.our-feature-name{
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    padding: 12px;
    width: 117px;
    border: 1px solid #333333;
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: 1;
}

@keyframes our-feature-name-animation {
    from {
        top: -34px;
        left: 50%;
        opacity: 0;
    }
    50% {
        top: 50%;
        opacity: 0.5;
    }
    to {
        left: 10px;
        bottom: 10px;
        opacity: 1;
    }
}

.our-feature-name:hover{
    background-color: #ffffff;
    color: #333333;
}

.our-feature-title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.our-feature-text{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 27px;
}

/*PORTFOLIO*/

.portfolio-list {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.portfolio-menu-button {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    border: 1px solid #000;
    margin: 0 10px;
    cursor: pointer;
    transition: .4s;
}

.portfolio-menu-button.active {
    color: #F1AD1D;
    background-color: #000;
}

.portfolio-menu-button:hover {
    color: #F1AD1D;
    background-color: #000;
    transition: .4s;
}

.portfolio-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-item{
    width: 250px;
    position: relative;

}
.portfolio-item:hover .portfolio-item-info {
    opacity: 1;
    transition: .4s;

}
.portfolio-item-info{
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #333333;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .4s;
}

.popular-posts-container {
    display: grid;
    border: 1px solid salmon;
}

.popular-post {
    border: 1px solid #000000;
}