.table {
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    width: 1144px;
    height: 680px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.cell {
    border: 1px solid #e3e3e3;
    height: 69px;
    vertical-align: middle;
    font-size: 16px;
}

.row:nth-child(odd) {
    background-color: #f2f2f2;
}
.row:nth-child(even) {
    background-color: #e3e3e3;
}

.fas {
    font-size: 24px;
    margin-right: 12px;
    color: #848484;
}

.far {
    font-size: 24px;
    margin-right: 12px;
    color: #848484;
}

.col-1 {
    box-shadow:inset -5px 0 5px -5px #cfcfcf;
}

.col-2 {
    box-shadow:5px 0 5px -3px #e3e3e3;
}

.col-3 {
    box-shadow:5px 0 5px -3px #e3e3e3;
}

.thead-main {
    width: 310px;
    height: 156px;
    font-size: 18px;
    font-weight: bold;
}

.thead-main-big-text {
    font-size: 30px;
    margin-top: 10px;
}

.row-1 {
    height: 70px;
    vertical-align: middle;
}

.row-1-2 {
    color: #fff;
    background-color: #89c331;
    font-size: 24px;
}

.row-1-3 {
    color: #fff;
    background-color: #f04a56;
    font-size: 30px;
}

.row-1-4 {
    color: #fff;
    background-color: #20807c;
    font-size: 24px;
}

.row-2 {
    height: 86px;
    vertical-align: middle;
}

.price {
    font-size: 60px;
    font-weight: bold;
}

.price-detail {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.price-desc {
    text-align: left;
    display: inline-block;
    width: 100px;
}

.last-row {
    height: 110px;
}

.last-row-1 {
    background-color: #dddddd;
}

.last-row-2 {
    background-color: #eeeeee;
}

.last-row-3 {
    background-color: #f4f4f4;
}

.last-row-4 {
    background-color: #eeeeee;
}

.btn {
    padding: 19px 58px 12px 58px;
    box-shadow: 0 5px 0 #000;
    text-decoration: none;
    color: #ffffff;
    border: 0 solid;
    border-radius: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.btn-grey {
    padding-right: 44px;
    padding-left: 44px;
    background-color: #484848;
    box-shadow: 0 5px 0 #404040;
}

.btn-grey:hover {
    background-color: #404040;
    transition: 0.3s;
}

.btn-green {
    background-color: #89c331;
    box-shadow: 0 5px 0 #79b027;
}

.btn-green:hover {
    background-color: #79b027;
    transition: 0.3s;
}

.btn-red {
    background-color: #f04a56;
    box-shadow: 0 5px 0 #df3a46;
}

.btn-red:hover {
    background-color: #df3a46;
    transition: 0.3s;
}

.btn-blue {
    background-color: #20807c;
    box-shadow: 0 5px 0 #16736f;
}

.btn-blue:hover {
    background-color: #16736f;
    transition: 0.3s;
}