@import './reset.css';

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #3e3e3e;
    --color4: #ff7700;
    --color5: #0d7fbe;
    --color6: #fae317;
    --color7: #f50f0f;
}

body {
    font-family: system-ui, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--color4);
    height: 100vh;
}

.grid-container {
    display: grid;
    border: 15px solid var(--color3);
    grid-template-columns: 80px 30px 80px 60px 60px 90px 90px;
    grid-template-rows: 60px repeat(2, 130px) repeat(2, 60px) repeat(3, 65px);
    grid-gap: 8px;
    background-color: var(--color3);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.grid-item-1,
.grid-item-2,
.grid-item-4,
.grid-item-5,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-12,
.grid-item-13,
.grid-item-15,
.grid-item-16,
.grid-item-17,
.grid-item-21,
.grid-item-22 {
    background-color: var(--color2);
}

.grid-item-3,
.grid-item-11,
.grid-item-18,
.grid-item-23 {
    background-color: var(--color1);
}

.grid-item-6,
.grid-item-20 {
    background-color: var(--color5);
}

.grid-item-7,
.grid-item-19,
.grid-item-24 {
    background-color: var(--color6);
}

.grid-item-16 {
    background-color: var(--color7);
}

.grid-item-1,
.grid-item-7,
.grid-item-12,
.grid-item-13,
.grid-item-16,
.grid-item-15,
.grid-item-18,
.grid-item-19,
.grid-item-22 {
    grid-column: span 2;
}

.grid-item-2 {
    grid-column: span 3;
}

.grid-item-8 {
    grid-row: span 2;
}

.grid-item-14 {
    grid-row: span 3;
    background-color: var(--color6);
}

.grid-item-6 {
    grid-column: span 4;
    grid-row: span 2;
}

.grid-item-11,
.grid-item-16,
.grid-item-17,
.grid-item-20 {
    grid-column: span 2;
    grid-row: span 2;
}
