.container {
    width: 1280px;
    margin: 0 auto;
}

.text-colored {
    color: #4BCAFF;
}

/* HEADER */

.header {
    padding-top: 31px;

}

.header-logo {
    font-size: 80px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
}

/* NAVBAR */

.navbar {
    padding-top: 44px;
}

.navbar-nav {
    background-color: #35444F;
    text-align: center;
}

.navbar-nav-item {
    display: inline-block;
    padding: 27px 42px 21px 42px;
}

.navbar-nav-link {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
}

.navbar-nav-item:hover {
    background-color: #222F3A;
    color: #E4E6E8;
}

/* LEFT MENU */

.left-menu-block {
    display: inline-block;
    margin-top: 26px;
    width: 342px;
    height: 400px;
    vertical-align: top;
    border: 1px solid #495863;
}

.left-menu-item {
    padding: 28px 0;
}

.left-menu-item:hover {
    background-color: #DBDBDB;
    color: #000;
    transition: 0.3s;
}

.left-menu-link {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #495863;
    margin-left: 44px;

}

/* MAIN CONTENT */

.main-content {
    display: inline-block;
    width: 893px;
    margin-left: 39px;
    margin-top: 26px;
}

.main-image-box {
    border: 1px solid #35444F;
    height: 529px;
    text-align: center;
}

.main-content-image {
    width: 320px;
    height: 381px;
    padding: 74px 0;
}

.main-content-image:hover {
    transform: scale(1.25);
    transition: 0.4s;
}

.main-content-text-block {
    width: 820px;
    margin: 0 auto;
}

.main-content-text {
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 26px;
}

/* FOOTER */

.footer {
    margin-top: 26px;
    margin-bottom: 15px;
    background-color: #B4B7BA;
}

.footer-menu {
    display: inline-block;
    padding: 11px 0;
}

.footer-menu-item {
    display: inline-block;
    margin-left: 33px;
}

.footer-menu-link {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    color: #000;
}

.footer-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    transition: 0.3s;
}

.footer-copyright {
    float: right;
    padding: 13px 0;
    margin-right: 26px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
}